

body {
  font-family: 'Cabin', sans-serif;
  background-color: #dde8b9;
}

h1 {

  font-family: 'Montserrat Alternates', sans-serif;
}

div {
  width: 500px;
  margin: 0 auto;
}

a {
  font-size: 30px;
  color: #dde8b9;
  text-decoration: none;
}

a:hover {
  color: #fa8383;
  text-decoration: none;
}

.card-white {
  background-color: #f9f8ed;
  padding: 40px;
  margin: 30px auto;
  box-shadow: 2px 2px 3px black;
  border-radius: 5px;
}

.inline-list > li{
  display: inline-block;
  padding: 0px 20px;
}


#logo {

  font-family: 'Orbitron', sans-serif;
  font-size: 60px;
  margin-left: 100px;
}

#my_name {
  font-family: 'Cabin', sans-serif;
  text-align: center;
}

#profile_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 200px;
}

.description {
  text-align: center;
}

.favorite_movies img{
  width: 200px;
}
